body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.adImage img{
  height: auto;   /* Adjust this to a auto if it looks bad */
  width: auto;
  display: block; 
  visibility: visible; 
  opacity: 1;  
  margin-left: 35%;
  margin-right: 35%;
}
